node_modules/
.env
.env.local
.env.development
.env.production
*.log
*.tmp
*.temp
dist/
build/
.DS_Store
Thumbs.db
.vscode/
.idea/
package-lock.json
.npm
.angular/
.cache/
e2e/
.firebase/
.serverless/