.username-form {
  display: flex;
  margin: 20px;
  display: flex;
  justify-content: center;
  margin-top: 22%;
}

input {
 
  padding: 10px;
  margin-right: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
}
.button-1 {
  
  background-color: #2D3A36;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
.button-1:hover {
  background-color: #3e4e49;
}
input {
  width: 300px;
 padding: 10px;
 border: none;
 border-radius: 5px;
 background-color: #f2f8f6;
 margin-right: 10px;
 
}